<div class="navbar">
  <form >
    <label for="access" class="form-check-label">Admin?</label>
    <input type="checkbox" name="access" onclick="isAdmin()" id="adminAccess" class="form-check-input">
  </form>
</div>