<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Lista de Productos</title>
</head>

<body class="container mt-5">
  <header>
    <h1>Lista de Productos Handlebars</h1>
  </header>
  <main>
    <!-- 
      Ejemplo 1 de mensaje
      titulo: Escuadra
      Precio: 123
      Imagen: https://cdn3.iconfinder.com/data/icons/education-209/64/ruler-triangle-stationary-school-512.png

      Elemplo 2 de mensaje
      Titulo: Calculadora
      Precio: 2345
      Imagen: https://cdn3.iconfinder.com/data/icons/education-209/64/calculator-math-tool-school-512.png
    -->
    <!--<form action="./api/productos" method="POST">-->
    <section class="jumbotron">
      <h2>Ingreso de productos</h2>
      <form onsubmit="return addProduct(e)" id="formProducts">
        <div class="mb-3">
          <label for="title" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="title""" name="title" placeholder="Escuadra" required>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Precio</label>
          <input type="number" class="form-control" id="price" name="price" placeholder="1234.56" required>
        </div>
        <div class="mb-3">
          <label for="thumbnail" class="form-label">Link de la Imagen</label>
          <input type="text" class="form-control" id="thumbnail" name="thumbnail"
            placeholder="https://cdn3.iconfinder.com/data/icons/education-209/64/ruler-triangle-stationary-school-512.png"
            required>
        </div>
        <button id="btn-submit-product" class="btn btn-primary">Agregar Producto</button>
      </form>
      <hr>
      <h2>Listado de productos</h2>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th class="col">Nombre</th>
            <th class="col">Precio</th>
            <th class="col">Imagen</th>
          </tr>
        </thead>
        <tbody id="products">
          {{>history}}
        </tbody>
      </table>
    </section>
    <hr>
    <section class="Jumbotron">
      <h2>Centro de mensajes</h2>
      <form onsubmit="return addMessage(e)" id="formMessages">
        <div class="mb-3">
          <label for="author" class="form-label">Autor</label>
          <input type="text" class="form-control" id="author" name="author" placeholder="Nicolas" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Mensaje</label>
          <textarea type="text" class="form-control message-area" id="message" name="message" max-height="100px"
            resize="none" required></textarea>
        </div>
        <button id="btn-submit-message" class="btn btn-success">Enviar Mensaje</button>
      </form>
      <div id="messages" class="mt-3">
        {{>messages}}
      </div>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>

</html>